@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model User
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <span>个人信息详情</span>
            <span style="float:right"><a class="btn btn-danger" asp-action="StudentEdit" asp-controller="Account">编辑</a></span>
        </h4>
    </div>
    <table class="table">
        <tr><td><b>用户名</b></td><td>@Model.Name</td></tr>
        <tr><td><b>联系电话</b></td><td>@Model.Tell</td></tr>
    </table>
</div>
